.cache
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
violations.pyflakes.txt
cover/
build/
docs/_build
*.egg-info/
*.pyc
*.swp
*.egg
env/
.workon
dist/
tests/samples/misc/*.pdf
tests/samples/others/*.pdf
tests/samples/wikipedia/flags
tests/samples/wikipedia/symbols
tests/samples/W3C_SVG_12_TinyTestSuite.tar.gz
tests/samples/W3C_SVG_12_TinyTestSuite/
