include requirements.txt
include tox.ini
include setup.py
include MANIFEST.in
include LICENSE.txt README.rst CONTRIBUTORS.rst CHANGELOG.rst
include demos/*
include tests/*.py
include tests/*.rst
include tests/samples/misc/*.svg
include tests/samples/others/*.svg
include tests/samples/wikipedia/README.rst
