include requirements.txt
include setup.py
include MANIFEST.in
include LICENSE.txt README.rst CONTRIBUTORS.rst
include tests/*.py
include tests/*.rst
include tests/samples/wikipedia/README.rst
include tests/samples/misc/*.svg
