name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "pypy3"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: "actions/checkout@v2"
      - name: "Cache for wikipedia flags"
        uses: actions/cache@v2
        env:
          cache-name: "cache-wikipedia-flags"
        with:
          path: "tests/samples/wikipedia/flags"
          key: "wikipedia-flags-${{ matrix.python-version }}-${{ matrix.os }}"
      - name: "Cache for wikipedia symbols"
        uses: actions/cache@v2
        env:
          cache-name: "cache-wikipedia-symbols"
        with:
          path: "tests/samples/wikipedia/symbols"
          key: "wikipedia-symbols-${{ matrix.python-version }}-${{ matrix.os }}"
      - name: "Cache for w3c svg12 tinytestsuite"
        uses: actions/cache@v2
        env:
          cache-name: "cache-w3c-svg12-tinytestsuite"
        with:
          path: "tests/samples/W3C_SVG_12_TinyTestSuite"
          key: "w3c-svg12-tinytestsuite-${{ matrix.python-version }}-${{ matrix.os }}"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade virtualenv tox tox-gh-actions
      - name: "Run tox targets for ${{ matrix.python-version }}"
        run: "python -m tox"
